doctype html
html 
  head 
    style
      include style.css

  body 
    div
      | Header 
      br
      | This is my container 

    block content

    div.footer
      | (c) Sep-2021 2021-2022 
      | Footer &nbsp;
      a(href=frontendUrl) CLICK HERE