<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="post">
  Email:    <input type="text"     name="email"    placeholder="Enter your email">
  Password: <input type="password" name="password" placeholder="Enter your password">
  <button>Login</button>
</form>
</body>
</html>